@model Medic.Models.Appointment
@{
    ViewBag.Title = "Wizyta odwołana";
}

<h2>Wizyta została odwołana </h2>

<p>
    @Html.ActionLink("Twoje wizyty", "Index", "Patient", new { id = ViewBag.PatientID }, null)
</p>
